<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- 将多个配置文件读取到容器中，交给Spring管理 -->
	<bean id="propertyConfigurer" class="com.melinkr.common.config.MelinkrPropertyConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:conf/config.properties</value>
			</list>
		</property>
		<!-- 将"dubbo."开头的属性加到系统属性配置方便dubbo直接读取 -->
		<property name="sysConfPrefix" value="dubbo."/>
		<!-- 将".password"或“.pwd”的属性Base64解码 -->
		<!--
		<property name="base64Pwd" value="true"/>
		-->
	</bean>
</beans>